html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.wrap > .navbar-default {
    background-color: white;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* -------------------------- */
body.naked .wrap > .container {
    padding-top: 1em;
}
.book-ping .book-review .btn-submit-review {
    width: 100%;
}
.book-ping-submitted .intro,
.book-ping .intro {
    font-size: 1.3em;
    color: #337ab7;
    margin-bottom: 2em;
}
.book-ping .outro {
    text-align: right;
    font-size: 1.3em;
    color: #337ab7;
    margin-bottom: 2em;
}

.book-ping .hint-block {
    font-size: 0.9em;
}
.book-ping .field-bookreview-rate {
    text-align: center;
}

.book-ping-dead,
.book-ping-submitted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 80vh;
}

.tracker-form {
    max-width: 500px;
    padding-left: 1em;
    border-left: 4px solid #d9d3d3;
    margin-top: 5em;
}
.book-num {
    width: 7em;
}

.home-image {
    width: 100%;
    height: 301px;
    padding: 3em;
    background-size: cover;
}
.site-login,
.site-register {
    margin-top: 3em;
    padding: 2em;
}

.main-3cols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

.main-3cols > .col-item {
    flex-grow:1;max-width: 360px; 
}
.col-item > h2 {
    margin-top: 1.1em;
    border-bottom: 1px solid #d9d9d9;
}
